@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Replace existing animation classes with this simple slide-up transition */
.page-transition {
  opacity: 0;
  transform: translateY(20px);
}

.page-transition-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 600ms ease-out;
}
